@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
header ul a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF6F3;
    gap: 3vw;
}
.box-img{
    width: 40vw;
    height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-img img{
    width: 100%;
}
.box-text ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 1.8vh;
    font-weight: 400;
}
.box-text{
    width: 23.3vw;
    height: 33vh;
    margin: 0 0 13vh 0;
    }
.box-text h1{
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #000;
    font-size: 6.6vh;
    font-weight: 400;


}
.box-text h2{
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #000;
    font-size: 6.6vh;
    font-weight: 400;
    padding-top: 0.7vh;
}
.prace{
    color: #AD0306;
    font-size: 5vh;
    padding-top: 3.6vh;
    padding-bottom: 3.6vh;
    font-weight: 400;
}
.one{
    padding-top: 4.6vh;
    -webkit-text-stroke-width: 0.10000000149011612;
    -webkit-text-stroke-color: #000;
    font-size: 2.5vh;
}
.two{
    -webkit-text-stroke-width: 0.10000000149011612;
    -webkit-text-stroke-color: #000;
    font-size: 2.5vh;
}
