@media screen and (min-width: 480px) and (max-width: 1023px){
    .box{
        width: 768px;
        flex-direction: column;
        padding: 34px 22px;
    }
    header{
        margin: 0 0 16px 0;
    }
    h1{
        width: 720px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 57.6px */
        letter-spacing: 0.25px;
        margin: 0 0 16px 0;
    }
    .content ul{
        margin: 0 0 32px 33px;
    }
    .content li{
        font-size: 20px;
    }
    .content button:last-child{
        margin: 0 0 24px 0;
    }
    iframe{
        width: 720px;
        height: 430px;
    }
    .content{
        height: 350px;
    }
}