@media screen and (max-width: 480px){
    nav{
        height: 149px;
        flex-direction: column;
        gap: 3px;
        padding-left: 0;
        margin-bottom: 7px;
    }
    nav span{
        width: 100%;
        height: 35px;
    }
    section{
        width: 100%;
        height: 80px;
        justify-content: center;
        align-items: center;

    }
    .banner{
        height: 120px;
        margin-bottom: 7px;
        justify-content: center;
        align-items: center;
    }
    .box{
        gap: 7px;
        margin-bottom: 7px;
    }
    footer{
        height: 30px;
    }
}