@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 113px;
    background-color: #24204A;
    box-shadow: -1px 8px 2px 0px rgba(0,0,0,0.86);
    -webkit-box-shadow: -1px 8px 2px 0px rgba(0,0,0,0.86);
    -moz-box-shadow: -1px 8px 2px 0px rgba(0,0,0,0.86);
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 65px;
    padding-right: 115px;
}
nav a{
    text-decoration: none;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
header h4{
    font-family: "Inter", sans-serif;
    color: #E5E5E5;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
    padding-left: 125px;
}
/*-------------------------section top------------------------*/
.top{
    width: 1400px;
    height: 579px;
    background-color: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 208px;
    margin-top: 5px;
}
.lamp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 411px;
    background-color: #827EAC;


}
.lamp img{
padding: 40px 0 0 20px;
}
.in-one{
    width: 570px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 32px;
}
.in-one h2{
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    width: 260px;
}
.in-one p{
    color: var(--1, #8E88C1);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    width: 570px;
    height: 85px;
}
.in-one button:last-child{
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: #3F50E7;
    color: #FFF;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.in-one button:first-child{
    width: 145px;
    height: 41px;
    border: none;
    border-radius: 8px;
    background: #4B4864;
    margin-bottom: 32px;
}
.middle{
    width: 1400px;
    height: 764px;
    background-color: #071341;
}
/*--------------------------------middle--------------------*/
.middle{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.flower_bed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 62px;
}
.flower1{
    width: 56px;
    height: 56px;
    background-color: #FF6853;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flower2{
    width: 56px;
    height: 56px;
    border-radius: 8px;
    background: #FF537C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flower3{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #80D2C4;
}

.flower5{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #95CB7C;
}
.text{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3px;
}
.text p{
    width: 38px;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text h4{
    color: var(--1, #8E88C1);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.middle h2{
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    width: 1074px;
    margin-top: 85px;
}
.middle p{
    color: var(--1, #8E88C1);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
    margin-top: 15px;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 53px;

}
.stand{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 209px;
    height: 206px;
    border-radius: 8px;

    padding-top: 44px;
    border: 2px solid var(--1, #8E88C1);

}
.stand p{
    color: var(--1, #8E88C1);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
    width: 178px;
}
/*------------------------section bottom----------------*/
.bottom{
    width: 1400px;
    height: 764px;
    background-color: #071341;
}
iframe{
    width: 1400px;
    height: 664px;
}
.bottom p{
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
    margin: 35px 0 0 652px;
}
