@media screen and (max-width: 480px){
    .flex{
        width: 343px;
        height: 100%;
        flex-direction: column;
        margin: 32px auto;
        gap: 32px;
    }

    .content{
        gap: 8px;
        width: 343px;
    }
h3{
    font-size: 20px;
    width: 343px;
}
p{
    font-size: 16px;
    width: 343px;
}
.content:first-child{
    height: 164px;
}
.content:nth-of-type(3){
    height: 116px;
}
    .content:nth-of-type(4){
        height: 164px;
    }
}